.header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: white;
    opacity: 1;
    box-shadow: 0 4px 10px #0003;
  
    nav {
      display: flex;
      justify-content: flex-end;
    }
  
    a {
      display: flex;
      justify-content: space-between;
      text-decoration: none !important;
      margin-left: 30px;
      font-size: 18px;
      color: gray;
    }
  }



  
  .modal {
    width: 40%;
    padding: 70px;
    border-radius: 20px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #422d4e;
    margin-bottom: 15px;
    line-height: 50px;
    border: 2px;
    border-style: solid;
    border-color: #f6f7f9;
    background-color: white;
    border-radius: 10px;
    .input {
      padding: 12px 16px;
      border-radius: 5px;
      width: 100%;
      border: none;
      background-color: #f6f7f9;
      outline-style: none;
      margin-bottom: 20px;
    }
   

    }.herbas{
          img {
            
            height: auto;
            width: 40%;
          }
        }
  
   
  .form {
    display: grid;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px;
    border-color: #f1f0f6;

    h2 {
      text-align: center;
      font-weight: 700;
      line-height: 40px;
      color: #f34091;
    }

    form-row {
      margin-bottom: 20px;
      width: 100%;
    }

    .input {
      padding: 12px 16px;
      border-radius: 5px;
      width: 100%;
      border: none;
      background-color: #f6f7f9;
      outline-style: none;
      margin-bottom: 20px;
      line-height: 10px;
    }
  }

  .btn {
    align-items: center;
    background-image: linear-gradient(135deg, #f34091 40%, #f6fc4d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    letter-spacing: 0.4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  

  .login-container {
    background-color: #f6f7f9;
    height: 100vh;
    h2{
      margin-bottom: 20px;
    }
    .login-form {
      display: grid;
      margin-left: calc(50% - 250px);
      width: 500px;
      padding: 25px 40px 50px;
      background-color: white;
      border-radius: 10px;
      color: #404040;
    }
    .input {
      padding: 12px 16px;
      border-radius: 5px;
      width: 100%;
      border: none;
      background-color: #f6f7f9;
      outline-style: none;
      margin-bottom: 20px;
    }
    .buttons {
      width: 100%;
      
    }
    
  }
  .list-container {
    box-shadow: 0 4px 10px #0003;
  
    .list-form {
      display: grid;
      padding: 25px 40px 50px;
      background-color: #f6f7f9;
      border-radius: 10px;
  
      h2 {
        text-align: center;
        font-weight: 700;
        line-height: 40px;
        color: #f34091;
        font-size: 25px;
      }
      .list-group {
        padding: 60px;
        margin-left: 100px;
        border-radius: 20px;
  
        .list-item {
          margin-bottom: 15px;
          line-height: 40px;
          border: 1px;
          border-style: solid;
          border-color: rgb(249, 192, 230);
          background-color: white;
          border-radius: 5px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 85%;
        }
        
        .item {
          width: 50%;
          margin-left: 10px;
        }
        .herbas{
          img {
            
            height: auto;
            width: 40%;
          }
        }
  
        .btn2 {
          align-items: center;
          background-color: white;
          border: 1;
          border-color: #f34091 ;
          border-radius: 5px;
          box-sizing: border-box;
          color: #fc4d79;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          font-family: "Codec cold", sans-serif;
          font-size: 14px;
          font-weight: 700;
          height: 25px;
          justify-content: center;
          letter-spacing: 0.4px;
          line-height: 1;
          max-width: 100%;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 3px;
          text-decoration: none;
          text-transform: uppercase;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }
      }
  
      .btn3 {
        align-items: center;
        background-image: linear-gradient(135deg, #f34091  40%, #fcf94d);;
        border: 0;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: "Codec cold", sans-serif;
        font-size: 14px;
        font-weight: 700;
        height: 25px;
        justify-content: center;
        letter-spacing: 0.4px;
        line-height: 1;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 3px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
    }
    .buttons {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 20px;
    }
    .btn4 {
      align-items: center;
      background-color: white;
      border: 1;
      border-color: #40f373 ;
      border-radius: 5px;
      box-sizing: border-box;
      color: #4dfc84;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-family: "Codec cold", sans-serif;
      font-size: 14px;
      font-weight: 700;
      height: 25px;
      justify-content: center;
      letter-spacing: 0.4px;
      line-height: 1;
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 3px;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .btn5 {
      align-items: center;
      background-color: white;
      border: 1;
      border-color: #f34040 ;
      border-radius: 5px;
      box-sizing: border-box;
      color: #fca54d;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-family: "Codec cold", sans-serif;
      font-size: 14px;
      font-weight: 700;
      height: 25px;
      justify-content: center;
      letter-spacing: 0.4px;
      line-height: 1;
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 3px;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  }
  